

<div class="field" >
  <h1 class="titulo">{{titulo}}</h1>
  <p>{{ welcome }}</p>
</div>

<app-empleados></app-empleados>

<!--
<form>
  <div class="field fuente">
    <label for="firstname1">Firstname</label>
    <input formControlName="nombre" [readOnly]="soloLectura" id="firstname1" type="text" class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full">
  </div>
  <div class="field fuente">
    <label for="lastname1">Lastname</label>
    <input formControlName="apellido" id="lastname1" type="text" class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full">
  </div>
  <div class="field fuente">
    <p-checkbox formControlName="saldo" (onChange)="habilitarCampo()" [binary]="true" value="Saldo" inputId="ny"></p-checkbox>
    <label for="ny">Saldo</label>
  </div>

</form>
-->

<!--
<div class="grid">
  <div class="col">
      <div class="text-center p-3 border-round-sm bg-primary font-bold">1</div>
  </div>
  <div class="col">
      <div class="text-center p-3 border-round-sm bg-primary font-bold ">2</div>
  </div>
  <div class="col">
      <div class="text-center p-3 border-round-sm bg-primary font-bold ">3</div>
  </div>
</div>

<div class="grid">
  <div class="col-12 md:col-6 lg:col-3">
      <div class="text-center p-3 border-round-sm bg-primary font-bold">col-12 md:col-6 lg:col-3</div>
  </div>
  <div class="col-12 md:col-6 lg:col-3">
      <div class="text-center p-3 border-round-sm bg-primary font-bold">col-12 md:col-6 lg:col-3</div>
  </div>
  <div class="col-12 md:col-6 lg:col-3">
      <div class="text-center p-3 border-round-sm bg-primary font-bold">col-12 md:col-6 lg:col-3</div>
  </div>
  <div class="col-12 md:col-6 lg:col-3">
      <div class="text-center p-3 border-round-sm bg-primary font-bold">col-12 md:col-6 lg:col-3</div>
  </div>
</div>
-->
